<%- include( 'templates/head' , { home: '' , categories: '' , popular: '' ,
    recent: '' , pageStyle: 'css/books-details.css' }) %>

    <div class='container-md'>
        <h1 class="bg-warning">Book Details Section</h1>
    </div>

    <%- include('templates/footer') %>
