<%- include( 'templates/head' , { home: '' , categories: '' , popular: '' ,
    recent: '' , pageStyle: 'css/books-details.css' }) %>

    <div class='container-md'>
        <p class='bg-warning'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis et optio iste neque quidem sit ullam explicabo. Itaque tempora neque reiciendis labore vel quis, omnis repellendus, aliquam sequi repellat esse?</p>
    </div>

    <%- include('templates/footer') %>
