<%- include(
    'templates/head', {
        home: "",
        categories: " active",
        popular: "",
        recent: ""
        }) %>  <!-- Also includes the NavBar-->

    <h1>
        <%= sectionTitle %>
    </h1>

    <%- include("templates/footer") %>
