<%- include(
    'templates/head', {
        home: " active",
        categories: "",
        popular: "",
        recent: ""
        }) %>  <!-- Also includes the NavBar-->

    <div class="container-md">
        <header class="my-5 pb-3 text-center border-bottom border-2">
            <h1><%= sectionTitle %></h1>
        </header>

        <section>
            <!-- Show books in 3 rows of 4 books per one-->
        </section>
    </div>

    <%- include("templates/footer") %>
