<%- include(
    'templates/head', {
        home: " active",
        categories: "",
        popular: "",
        recent: "",
        pageStyle: "css/home.css"
        }) %>  <!-- Also includes the NavBar-->

    <div class="container-md">
        <section id="main-section">
            <div class="row text-center justify-content-evenly">
                <div class="col-md-auto my-3">
                    <div>
                        <img src="https://images-na.ssl-images-amazon.com/images/I/81r4acWAaCL.jpg" alt="Sample Book">
                        <p>Following the events of The Shining, after receiving a settlement from the owners of the Overlook Hotel, Danny Torrance remains psychologically traumatized as his mother Wendy slowly recovers from her injuries. The two are now living in...</p>
                    </div>
                    <p class="mt-2">Doctor Sleep</p>
                </div>
                <div class="col-md-auto my-3">
                    <div>
                        <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9781/4736/9781473695498.jpg" alt="Sample Book">
                        <p>The Shining is set in Colorado in the 1970s. It centres on the Torrance family: husband Jack, wife Wendy, and their five-year-old son, Danny. At the beginning of the novel, Jack is hired as the caretaker of the remote Overlook Hotel for ...</p>
                    </div>
                    <p class="mt-2">The Shining</i></p>
                </div>
                <div class="col-md-auto my-3">
                    <div>
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51b7XbfMIIL.jpg" alt="Sample Book">
                        <p>Code is clean if it can be understood easily – by everyone on the team. Clean code can be read and enhanced by a developer other than its original author. With understandability comes readability, changeability, extensibility and maintai...</p>
                    </div>
                    <p class="mt-2">Clean Code</p>
                </div>
                <div class="col-md-auto my-3">
                    <div>
                        <img src="https://images-na.ssl-images-amazon.com/images/I/91Ru6WJz2XL.jpg" alt="Sample Book">
                        <p>Harry Potter lives with his abusive aunt and uncle, Vernon and Petunia Dursley and their bullying son, Dudley. On Harry's eleventh birthday, a half-giant named Rubeus Hagrid personally delivers an acceptance letter to Hogwarts School of...</p>
                    </div>
                    <p class="mt-2">Harry Potter and the Philosopher's Stone</p>
                </div>
            </div>
            <div class="row text-center justify-content-evenly">
                <div class="col-md-auto my-3">
                    <div>
                        <img src="https://images-na.ssl-images-amazon.com/images/I/81r4acWAaCL.jpg" alt="Sample Book">
                        <p>Following the events of The Shining, after receiving a settlement from the owners of the Overlook Hotel, Danny Torrance remains psychologically traumatized as his mother Wendy slowly recovers from her injuries. The two are now living in...</p>
                    </div>
                    <p class="mt-2">Doctor Sleep</p>
                </div>
                <div class="col-md-auto my-3">
                    <div>
                        <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9781/4736/9781473695498.jpg" alt="Sample Book">
                        <p>The Shining is set in Colorado in the 1970s. It centres on the Torrance family: husband Jack, wife Wendy, and their five-year-old son, Danny. At the beginning of the novel, Jack is hired as the caretaker of the remote Overlook Hotel for ...</p>
                    </div>
                    <p class="mt-2">The Shining</p>
                </div>
                <div class="col-md-auto my-3">
                    <div>
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51b7XbfMIIL.jpg" alt="Sample Book">
                        <p>Code is clean if it can be understood easily – by everyone on the team. Clean code can be read and enhanced by a developer other than its original author. With understandability comes readability, changeability, extensibility and maintai...</p>
                    </div>
                    <p class="mt-2">Clean Code</p>
                </div>
                <div class="col-md-auto my-3">
                    <div>
                        <img src="https://images-na.ssl-images-amazon.com/images/I/91Ru6WJz2XL.jpg" alt="Sample Book">
                        <p>Harry Potter lives with his abusive aunt and uncle, Vernon and Petunia Dursley and their bullying son, Dudley. On Harry's eleventh birthday, a half-giant named Rubeus Hagrid personally delivers an acceptance letter to Hogwarts School of...</p>
                    </div>
                    <p class="mt-2">Harry Potter and the Philosopher's Stone</p>
                </div>
            </div>
            <div class="row text-center justify-content-evenly">
                <div class="col-md-auto my-3">
                    <div>
                        <img src="https://images-na.ssl-images-amazon.com/images/I/81r4acWAaCL.jpg" alt="Sample Book">
                        <p>Following the events of The Shining, after receiving a settlement from the owners of the Overlook Hotel, Danny Torrance remains psychologically traumatized as his mother Wendy slowly recovers from her injuries. The two are now living in...</p>
                    </div>
                    <p class="mt-2">Doctor Sleep</p>
                </div>
                <div class="col-md-auto my-3">
                    <div>
                        <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9781/4736/9781473695498.jpg" alt="Sample Book">
                        <p>The Shining is set in Colorado in the 1970s. It centres on the Torrance family: husband Jack, wife Wendy, and their five-year-old son, Danny. At the beginning of the novel, Jack is hired as the caretaker of the remote Overlook Hotel for ...</p>
                    </div>
                    <p class="mt-2">The Shining</p>
                </div>
                <div class="col-md-auto my-3">
                    <div>
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51b7XbfMIIL.jpg" alt="Sample Book">
                        <p>Code is clean if it can be understood easily – by everyone on the team. Clean code can be read and enhanced by a developer other than its original author. With understandability comes readability, changeability, extensibility and maintai...</p>
                    </div>
                    <p class="mt-2">Clean Code</p>
                </div>
                <div class="col-md-auto my-3">
                    <div>
                        <img src="https://images-na.ssl-images-amazon.com/images/I/91Ru6WJz2XL.jpg" alt="Sample Book">
                        <p>Harry Potter lives with his abusive aunt and uncle, Vernon and Petunia Dursley and their bullying son, Dudley. On Harry's eleventh birthday, a half-giant named Rubeus Hagrid personally delivers an acceptance letter to Hogwarts School of...</p>
                    </div>
                    <p class="mt-2">Harry Potter and the Philosopher's Stone</p>
                </div>
            </div>
        </section>
        <section id="pagination" class="mb-5 text-center">
            <!-- Pagination Section -->
            <a class="btn btn-warning me-2" href="/"><i class="fas fa-arrow-left"></i>&nbsp  Previous</a>
            <a class="btn btn-warning mx-1" href="/">1</a>
            <a class="btn btn-warning mx-1" href="/">2</a>
            <a class="btn btn-warning mx-1" href="/">3</a>
            <a class="btn btn-warning mx-1" href="/">. . .</a>
            <a class="btn btn-warning ms-2" href="/">Next &nbsp<i class="fas fa-arrow-right"></i></a>
        </section>
    </div>

    <%- include("templates/latest-books") %>
    <%- include("templates/footer") %>
