<%- include( 'templates/head' , { home: " active" , categories: "" ,
    popular: "", recent: "" , pageStyle: "css/home.css"}) %>

    <div class="container-md">
        <section id="main-section">
            <% var books = booksApi.getBooksData() %>
            <% books.then(json => console.log(json)).catch(error => console.log(`Error -> ${error}`)); %>

            <% for (let div=0; div < 3; div++) { %>
                <div class="row text-center justify-content-evenly">
                    <% for (let div=0; div < 4; div++) { %>
                        <div class="col-md-auto my-3">
                            <div>
                                <img src="https://www.angeldelsoto.es/wp-content/uploads/leather-book-preview.png" alt="Sample Book">
                                <p><%="Description"%></p>
                            </div>
                            <p class="mt-2">Title</p>
                        </div>
                        <% } %>
                </div>
            <% } %>
        </section>
        <section id="pagination" class="mb-5 text-center">
            <!-- Pagination Section -->
            <a class="btn btn-warning me-2" href="/"><i class="fas fa-arrow-left"></i>&nbsp Previous</a>
            <a class="btn btn-warning mx-1" href="/">1</a>
            <a class="btn btn-warning mx-1" href="/">2</a>
            <a class="btn btn-warning mx-1" href="/">3</a>
            <a class="btn btn-warning mx-1" href="/">. . .</a>
            <a class="btn btn-warning mx-1" href="/">9</a>
            <a class="btn btn-warning ms-2" href="/">Next &nbsp<i class="fas fa-arrow-right"></i></a>
        </section>
    </div>

    <%- include("templates/latest-books") %>
    <%- include("templates/footer") %>
