<%- include(
    'templates/head', {
        home: " active",
        categories: "",
        popular: "",
        recent: "",
        pageStyle: "css/home.css"
        }) %>  <!-- Also includes the NavBar-->

    <div class="container-md">
        <section id="main-section">
            <article>
                <!-- Show books in 3 rows of 4 books per one-->
            </article>
        </section>
        <section id="pagination-section" class="mb-5 text-center">
            <!-- Pagination Section -->
            <button class="my-5">< Previous</button>
            <!-- Numbers of the page -->
            <button class="my-5">Next ></button>
        </section>
    </div>
    <%- include("templates/recommended-books") %>
    <%- include("templates/footer") %>
