<%- include(
    'templates/head', {
        home: "",
        categories: "",
        popular: "",
        recent: " active"
        }) %>  <!-- Also includes the NavBar-->

    <h1>
        <%= sectionTitle %>
    </h1>

    <%- include("templates/footer") %>