.banner {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.banner img {
    padding: 0;
    width: 100vw;
    height: 560px;
    object-fit: cover;
    opacity: 0.5;
    filter: blur(15px);
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.book-presentation {
    width: 100%;
    color: white;
    position: relative;
    /* background:rgb(26, 56, 42); */
}

.book-presentation img {
    width: 375px;
    height: calc(375px * 1.609);
    position: absolute;
    transform: translateY(-375px);
    box-shadow: 30px 15px 30px #0a0a0a6c;
}

.book-presentation #more-info {
    width: 375px;
    position: absolute;
    top: calc(375px / 2 + 50px);
    background: #e6b347;
    font-weight: bolder;
}

.book-presentation #more-info:hover {
    background: #fbc757;
}

.book-presentation article {
    margin-left: 375px;
    /* background: rgb(39, 26, 56);*/
}

.book-presentation article div h1 {
    width: fit-content;
    margin-top: -1.4em;
    border-radius: 5px;
    box-shadow: 15px 7.5px 15px #0a0a0a6c;
    background: #0a0a0a57;
    transform: translateY(0); /* Fix the opacity bug */
}

.book-presentation article div h1 {
    width: fit-content;
    margin-top: -1.4em;
    border-radius: 5px;
    box-shadow: 15px 7.5px 15px #0a0a0a6c;
    background: #0a0a0a57;
    transform: translateY(0); /* Fix the opacity bug */
    border-bottom: 3px solid #f0b33163;
}

#book-data {
    width: fit-content;
    border: 3px solid #0c1b22c7;
    border-radius: 10px;
}

.data-chunk {
    font-size: 1.3em;
}

.data-chunk i:first-child {
    font-size: 1.5em;
}

.data-chunk i:last-child {
    font-weight: bold;
    font-style: normal;
}

.main-data {
    font-weight: bold;
}

#page-account {
    color: #e6b347;
}

#published-date {
    color: #d42e49;
}

#language {
    color: #ac52e9;
}

#price {
    color: #37d1a2;
}

#synopsis {
    transition: all 1s ease-in-out;
}

#description-btn {
    background: #2cbb9036;
    color: #f6f6f6;
    width: fit-content;
    font-weight: bolder;
}

#description-btn:hover {
    background: #40dfafd8;
    color: #050505;
}
