#main-section {
    margin-left: 5%;
}

#main-section div {
    text-decoration: none;
    line-height: 1.3;
    color: #f0f0f0;
}

#main-section div a {
    text-decoration: none;
    color: #f0f0f0;
}

#main-section .book-images {
    width: 245px;
    height: calc(245px * 1.609);
    border-radius: 4%;
    border: 1px solid #182f3a;
    transition: 0.27s ease-out;
}

#main-section .description {
    width: 245px;
    height: calc(245px * 1.609);
    opacity: 0%;
    position: absolute;
    text-align: center;
    margin-top: -400px;
    padding: 15px 15px 15px 15px;
    font-size: 18.5px;
    line-height: 27px;
    pointer-events: none;
    transition: 0.3s ease-out;
}

#main-section .book-images:hover {
    filter: grayscale(60%) brightness(0.35);
}

#main-section .img-link:hover + .description {
    opacity: 100%;
}

#main-section .title {
    width: 245px;  /* Same as the img's width */
    font-size: 21px;
    font-weight: 250;
}

#pagination {
    background: #0F2027;
}

#pagination .page-link {
    background: #182f3a !important;
    color: #f0f0f0 !important;
    border-color: #132730;
    font-weight: bold;
    border-radius: 20%;
    user-select: none;
}

#pagination .page-link:hover {
    background: #f0b331 !important;
    color: #0f1f27 !important;
    border-color: #da9c19;
}

#pagination .page-item.active .page-link {
    background: #eeb63e !important;
    color: #0f1f27 !important;
    border-color: #dba32b;
}

@media(max-width: 767px) {
    #main-section div {
        margin-left: 0 !important
    }

    #main-section .title {
        width: 95%;
    }

    #main-section .book-images:hover {
        filter: none;
    }

    #main-section .img-link:hover + .description {
        opacity: 0%;
    }
}
