#site-footer {
    padding: 5em 0;
    background: #0F2027;
    font-size: 16px;
    color: #f0f0f0;
}

#site-footer p:last-child {
    color: #f0f0f0;
    margin-bottom: 0;
}

#site-footer a {
    color: #f0f0f0;
    text-decoration: none;
}

#site-footer h2 {
    font-size: 30px;
    margin-bottom: 28px;
    letter-spacing: 0.15em;
    font-weight: bolder;
    color: #f0f0f0;
    position: relative;
    display: inline-block;
}

#site-footer h2::before {
    content: '';
    position: absolute;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffcb5c;
    transform-origin: bottom right;
    transition: transform 0.45s ease-in-out;
}

#site-footer h2:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#site-footer .footer-link li {
    line-height: 1.5;
    margin-bottom: 15px;
}

.footer-social a {
    line-height: 0;
    margin: 0 32px 0px 0;
    width: 30px;
    text-align: center;
    display: inline-block;
}

.footer-social li a i {
    transition: 0.17s ease-in-out;
    font-size: 45px;
}

#email {
    margin-left: 3px;
    font-size: 18px;
    cursor: pointer;
    width: fit-content;
    transition: 0.17s ease-in-out;
}

.footer-text li a {
    transition: 0.17s ease-in-out;
    font-size: 19px;
}

.footer-text li a:hover, .footer-social li a i:hover, #email:hover {
    transform: scale(1.13);
    color: #ffcb5c !important;
}

#footer-logo {
    width: 85%;
    height: auto;
}
