#main-section div div {
    text-decoration: none;
    line-height: 1.3;
    color: #f0f0f0;
}

#main-section div div div img {
    width: 245px;
    height: calc(245px * 1.609);
    border-radius: 4%;
    border: 1px solid #182f3a;
    transition: 0.27s ease-out;
}

#main-section div div div p {
    width: 245px;
    height: calc(245px * 1.609);
    opacity: 0%;
    position: absolute;
    text-align: center;
    margin-top: -400px;
    padding: 15px 15px 15px 15px;
    font-size: 18.5px;
    line-height: 29px;
    pointer-events: none;
    transition: 0.3s ease-out;
}

#main-section div div div img:hover {
    filter: grayscale(60%) brightness(0.35);
}

#main-section div div div img:hover + p {
    opacity: 100%;
}

#main-section div p {
    width: 245px;  /* Same as the img's width */
    font-size: 21px;
    font-weight: 250;
}

#pagination a {
    background: #252d2f;
    border-color: #1f292c;
    text-decoration: none;
    font-weight: bold;
    color: #f0f0f0;
}

#pagination a:first-child, #pagination a:last-child {
    width: 150px;
}

#pagination a:hover {
    background: #f0bc4d;
    border-color: #ecb949;
    color: #0f0f0f;
}

@media(max-width: 767px) {
    #main-section div p {
        width: 100%;
    }
}