@import url("bootstrap.min.css");
@import url("navbar.css");
@import url("latest-books.css");
@import url("footer.css");

@font-face {
    font-family: "Baskerville";
    src: url("../fonts/LibreBaskerville-Regular.ttf");
}

@font-face {
    font-family: "Pacifico";
    src: url("../fonts/Pacifico-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}

html, body {
    font-family: "Montserrat", "Baskerville", "Georgia";
    background: #0F2027;
    overflow-x: hidden;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    top: 0;
    left: 0;
}

/* Removes the Bootstrap button's border focus */
.btn:focus {
    outline: none;
    box-shadow: none;
}
