nav {
    background: #0F2027;
}

#navbar-sections {
    list-style-type: none;
}

#navbar-sections li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 19.5px;
    margin-left: 5px;
    margin-right: 5px;
}

#navbar-section li a:first-child {
    margin-left: 0px;
}

#navbar-section li a:last-child {
    margin-right: 0px;
}

#navbar-sections li a:hover {
    color: #ffcb5c !important;
}

.navbar {
    padding: 0rem 2rem;
    min-height: 12vh;
}

.navbar .navbar-brand a {
    padding: 1rem 0;
    display: block;
    text-decoration: none;
}

.navbar-brand {
    font-size: 40px;
    font-weight: 500;
    font-family: "Pacifico", "Baskerville", "Georgia", "Arial";
    color: #ffcb5c !important;
}

.navbar-toggler {
    background: #ffcb5c;
    border: none;
    padding: 10px 6px;
    outline: none;
}

.navbar-toggler span {
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: #0F2027;
}

.navbar-toggler span + span {
    width: 18px;
    margin-top: 4px;
    margin-left: 4px;
}

.navbar-toggler span + span {
    width: 10px;
    margin-left: 4px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 2.6rem 1.2rem;
    font-size: 1.4rem;
    position: relative;
    transition: 0.15s ease-in-out;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    border-top: 4px solid #ffcb5c;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
    border-top: 4px solid #ffcb5c;
    color: #ffcb5c;
}

#search {
    padding: 0.75rem;
}

#logo-icon {
    width: 60px;
    height: auto;
    margin-right: 5px;
}

#search-icon {
    color: white;
    cursor: pointer;
    font-size: 43px;
    margin-left: 5px;
    border-radius: 15%;
    transition: 0.09s ease-in-out;
}

#search-icon:hover {
    transform: scale(1.1);
    color: #ffcb5c;
}

#search-icon:active {
    transform: scale(0.9);
    color: #fbb723;
}

@media(max-width: 991px) {
    .navbar-brand {
        font-size: 40px;
    }

    #search-icon, #logo-icon {
        display: none;
    }

    #search {
        margin-bottom: 2rem;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 1.8rem 1.2rem;
    }
}
