    <footer id="site-footer">
        <div class="container-md">
            <div class="row mb-5">
                <div class="col-md-3 mb-5">
                    <img id="footer-logo" src="src/logo.png" alt="Bookffee-logo">
                </div>
                <div class="col-md-3 mb-5">
                    <h2>About</h2>
                    <ul class="list-unstyled footer-link footer-text">
                        <li><a href="https://github.com/LucioFex/Bookffee">About Bookffee</a></li>
                        <li><a href="https://developers.google.com/books/docs/overview">About Google Books API</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-5">
                    <h2>Get Help</h2>
                    <ul class="list-unstyled footer-link footer-text">
                        <li><a href="https://github.com/LucioFex/Bookffee">GitHub Repository</a></li>
                        <li><a href="/terms-conditions">Terms &amp; Conditions</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-5">
                    <h2>Follow me</h2>
                    <ul class="list-unstyled footer-link d-flex footer-social">
                        <li><a target="_blank" href="https://github.com/LucioFex"><i class="fa fa-github"></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/LucioFex"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" href="https://www.linkedin.com/in/luciano-esteban/"><i class="fa fa-linkedin"></i></a></li>
                        <li><a target="_blank" href="https://www.youtube.com/channel/UChSADdRmOom53y8UyrC2-6g"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                    <div id="email-section">
                        <p id="email" href="#"><i class="fas fa-envelope-square"></i> Contact me</p>
                        <p id="copied-message">Copied</p>
                    </div>
                    <div class="row">
                        <p class="mt-4">Bookffee is a website to search for books, which allows you to know their prices and synopses, as well as being able to filter them by genre, popularity and date.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/e74d02339d.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>
