    <footer id="site-footer">
        <div class="container-md">
            <div class="row mb-5">

                <!-- Add Logo section here -->

                <div class="col-md-3 mb-5">
                    <h2>About me</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio consequuntur eveniet sit illo ducimus, nobis placeat debitis neque fuga quasi rem consectetur dicta deserunt maxime maiores cum earum unde inventore!</p>
                    <p><a href="#">Click here to learn more</a></p>
                </div>
                <div class="col-md-3 mb-5">
                    <h2>Need Help?</h2>
                    <ul class="list-unstyled footer-link">
                        <li><a href="#">GitHub Repository</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Google Books</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h2>Follow me</h2>
                    <ul class="list-unstyled footer-link d-flex footer-social">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-12 text-md center text-left"></div>
                    <p>Space to add more text</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/e74d02339d.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>
