    <footer id="site-footer">
        <div class="container-md">
            <div class="row mb-5">
                <div class="col-md-3 mb-5">
                    <img id="footer-logo" src="src/logo.png" alt="Bookffee-logo">
                </div>
                <div class="col-md-3 mb-5">
                    <h2>About</h2>
                    <ul class="list-unstyled footer-link footer-text">
                        <li><a href="#">About the Website</a></li>
                        <li><a href="#">About Me</a></li>
                        <li><a href="#">Google Books</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-5">
                    <h2>Get Help</h2>
                    <ul class="list-unstyled footer-link footer-text">
                        <li><a href="#">GitHub Repository</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-5">
                    <h2>Follow me</h2>
                    <ul class="list-unstyled footer-link d-flex footer-social">
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <p id="email" href="#"><i class="fas fa-envelope-square"></i> My Email</p>
                    <div class="row">
                        <p class="mt-4">Space to add more text</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/e74d02339d.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>
