<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-md">
            <a class="navbar-brand" href="/"><img id="logo-icon"
                    src="src/logo.png">Bookffee</a>
            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between"
                id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0"
                    id="navbar-sections">
                    <li class="nav-item">
                        <a class="nav-link<%=home%>" aria-current="page"
                            href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link<%=popular%>" aria-current="page"
                            href="/popular?page=1">Popular Books</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link<%=categories%> dropdown-toggle" href="#"
                            id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>
                        <ul id="navbar-dropdown" class="dropdown-menu"
                            aria-labelledby="navbarDropdown">
                            <li class="d-flex justify-content-around">
                                <div>
                                    <a class="dropdown-item" href="/categories?page=1&subject=Action">Action</a>
                                    <a class="dropdown-item" href="/categories?page=1&subject=Adventure">Adventure</a>
                                    <a class="dropdown-item" href="/categories?page=1&subject=Thriller">Thriller</a>
                                    <a class="dropdown-item" href="/categories?page=1&subject=Horror">Horror</a>
                                    <a class="dropdown-item" href="/categories?page=1&subject=Fantasy">Fantasy</a>
                                    <a class="dropdown-item" href="/categories?page=1&subject=Romance">Romance</a>
                                </div>
                                <div>
                                    <a class="dropdown-item" href="/categories?page=1&subject=Drama">Drama</a>
                                    <a class="dropdown-item" href="/categories?page=1&subject=Crime">Crime</a>
                                    <a class="dropdown-item" href="/categories?page=1&subject=Satire">Satire</a>
                                    <a class="dropdown-item" href="/categories?page=1&subject=Children">Children's</a>
                                    <a class="dropdown-item" href="/categories?page=1&subject=Poetry">Poetry</a>
                                    <a class="dropdown-item" href="/categories?page=1&subject=Science+Fiction">Science Fiction</a>
                                </div>
                                <div>
                                    <a class="dropdown-item" href="/categories?page=1&subject=Biography">Biography</a>
                                    <a class="dropdown-item" href="/categories?page=1&subject=True+Crime">True crime</a>
                                    <a class="dropdown-item" href="/categories?page=1&subject=Programming">Programming</a>
                                    <a class="dropdown-item" href="/categories?page=1&subject=Fitness">Health/fitness</a>
                                    <a class="dropdown-item" href="/categories?page=1&subject=History">History</a>
                                    <a class="dropdown-item" href="/categories?page=1&subject=Business">Business/economics</a>
                                </div>
                            </li>
                            <li><hr class="dropdown-divider bg-white"></li>
                            <li><a class="dropdown-item text-center" href="#">Random</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-nav ms-auto">
                    <input id="search" class="form-control" type="search"
                        placeholder="Search" aria-label="Search book">
                    <i id="search-icon" class="fas fa-search"></i>
                </form>
            </div>
        </div>
    </nav>

    <div class="container-md">
        <div id="page-title"
            class="my-5 pb-3 text-center text-white border-bottom border-1 border-secondary">
            <h1>
                <%= sectionTitle %>
            </h1>
        </div>
    </div>
</header>