<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-md">
            <a class="navbar-brand" href="/"><img id="logo-icon"
                    src="src/logo.png">Bookffee</a>
            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between"
                id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0"
                    id="navbar-sections">
                    <li class="nav-item">
                        <a class="nav-link<%= home %>" aria-current="page"
                            href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link<%= popular %>" aria-current="page"
                            href="/popular?page=1">Popular Books</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link<%= categories %> dropdown-toggle" href="#"
                            id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>
                        <ul id="navbar-dropdown" class="dropdown-menu"
                            aria-labelledby="navbarDropdown">
                            <li class="d-flex justify-content-around">
                                <div>
                                    <a class="dropdown-item" href="/categories?subject=Action&page=1">Action</a>
                                    <a class="dropdown-item" href="/categories?subject=Adventure&page=1">Adventure</a>
                                    <a class="dropdown-item" href="/categories?subject=Mystery&page=1">Mystery</a>
                                    <a class="dropdown-item" href="/categories?subject=Horror&page=1">Horror</a>
                                    <a class="dropdown-item" href="/categories?subject=Fantasy&page=1">Fantasy</a>
                                    <a class="dropdown-item" href="/categories?subject=Romance&page=1">Romance</a>
                                </div>
                                <div>
                                    <a class="dropdown-item" href="/categories?subject=Drama&page=1">Drama</a>
                                    <a class="dropdown-item" href="/categories?subject=Thriller&page=1">Thriller</a>
                                    <a class="dropdown-item" href="/categories?subject=Crime&page=1">Crime</a>
                                    <a class="dropdown-item" href="/categories?subject=Satire&page=1">Satire</a>
                                    <a class="dropdown-item" href="/categories?subject=Children&page=1">Children's</a>
                                    <a class="dropdown-item" href="/categories?subject=Science+Fiction&page=1">Science Fiction</a>
                                </div>
                                <div>
                                    <a class="dropdown-item" href="/categories?subject=Biography&page=1">Biography</a>
                                    <a class="dropdown-item" href="/categories?subject=Programming&page=1">Programming</a>
                                    <a class="dropdown-item" href="/categories?subject=History&page=1">History</a>
                                    <a class="dropdown-item" href="/categories?subject=Fitness&page=1">Health/Fitness</a>
                                    <a class="dropdown-item" href="/categories?subject=Poetry&page=1">Poetry</a>
                                    <a class="dropdown-item" href="/categories?subject=Business&page=1">Business/Economics</a>
                                </div>
                            </li>
                            <li><hr class="dropdown-divider bg-white"></li>
                            <li><a class="dropdown-item text-center" href="/categories?subject=Random&page=1">Random</a></li>
                        </ul>
                    </li>
                </ul>
                <form action="/search" class="navbar-nav ms-auto" method="POST">
                    <input id="search" name="q" class="form-control" type="search"
                        placeholder="Search" aria-label="Search book">
                    <button id="search-icon" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
    </nav>

    <% if (sectionTitle && !["Terms & Conditions", "Privacy Policy"].includes(sectionTitle)) { %>
        <div class="container-md">
            <div id="page-title"
                class="my-5 pb-3 text-center text-white border-bottom border-1 border-secondary">
                <h1><%= sectionTitle %></h1>
            </div>
        </div>
    <% } %>
</header>