<section class="container-md my-5">
    <div class="row justify-content-around" style="background: blue;">  <!-- Remove inline styles later -->
        <div class="col-md">
            <h3 class="mb-3 text-center" style="background: gold;">Latest of X</h3>
            <div class="recommended-books">
                <div class="d-flex mb-3">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/91wOUFZCE+L.jpg" alt="Sample Book">
                    <div>
                        <h4 class="ms-3 mb-1">Dracula</h4>
                        <p class="ms-3">
                            Antes de convertirse en un vampiro, el conde Drácula era el príncipe Vlad que, al enterarse de la muerte de su amada, vendió su alma al diablo. Cuatro siglos más tarde, Jonathan Harker, un joven abogado que viaja a un castillo perdido en el este de Europa, acaba siendo capturado por el conde Drácula.
                        </p>
                    </div>
                </div>
                <div class="d-flex">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/91wOUFZCE+L.jpg" alt="Sample Book">
                    <div>
                        <h4 class="ms-3 mb-1">Dracula</h4>
                        <p class="ms-3">
                            Antes de convertirse en un vampiro, el conde Drácula era el príncipe Vlad que, al enterarse de la muerte de su amada, vendió su alma al diablo. Cuatro siglos más tarde, Jonathan Harker, un joven abogado que viaja a un castillo perdido en el este de Europa, acaba siendo capturado por el conde Drácula.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <h3 class="mb-3 text-center" style="background: red;">Latest of Y</h3>
            <div class="recommended-books">
                <div class="d-flex mb-3">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/91wOUFZCE+L.jpg" alt="Sample Book">
                    <div>
                        <h4 class="ms-3 mb-1">Dracula</h4>
                        <p class="ms-3">
                            Antes de convertirse en un vampiro, el conde Drácula era el príncipe Vlad que, al enterarse de la muerte de su amada, vendió su alma al diablo. Cuatro siglos más tarde, Jonathan Harker, un joven abogado que viaja a un castillo perdido en el este de Europa, acaba siendo capturado por el conde Drácula.
                        </p>
                    </div>
                </div>
                <div class="d-flex">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/91wOUFZCE+L.jpg" alt="Sample Book">
                    <div>
                        <h4 class="ms-3 mb-1">Dracula</h4>
                        <p class="ms-3">
                            Antes de convertirse en un vampiro, el conde Drácula era el príncipe Vlad que, al enterarse de la muerte de su amada, vendió su alma al diablo. Cuatro siglos más tarde, Jonathan Harker, un joven abogado que viaja a un castillo perdido en el este de Europa, acaba siendo capturado por el conde Drácula.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <h3 class="mb-3 text-center" style="background: green;">Latest of Z</h3>
            <div class="recommended-books">
                <div class="d-flex mb-3">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/91wOUFZCE+L.jpg" alt="Sample Book">
                    <div>
                        <h4 class="ms-3 mb-1">Dracula</h4>
                        <p class="ms-3">
                            Antes de convertirse en un vampiro, el conde Drácula era el príncipe Vlad que, al enterarse de la muerte de su amada, vendió su alma al diablo. Cuatro siglos más tarde, Jonathan Harker, un joven abogado que viaja a un castillo perdido en el este de Europa, acaba siendo capturado por el conde Drácula.
                        </p>
                    </div>
                </div>
                <div class="d-flex">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/91wOUFZCE+L.jpg" alt="Sample Book">
                    <div>
                        <h4 class="ms-3 mb-1">Dracula</h4>
                        <p class="ms-3">
                            Antes de convertirse en un vampiro, el conde Drácula era el príncipe Vlad que, al enterarse de la muerte de su amada, vendió su alma al diablo. Cuatro siglos más tarde, Jonathan Harker, un joven abogado que viaja a un castillo perdido en el este de Europa, acaba siendo capturado por el conde Drácula.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>